{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="About" id="abt">
    <div class="profile">
      <div id="profheader">
      <div class="row">
        <div class="col-md-4">
          <img src="{{request.user.userprofile.photo_user.url}}" id="profpic">
        </div>
        <div class="col-md-4" id="profbasic">
          <p><img src="{% static 'img/profileaccount_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;{{user.first_name}}</p>
          <p><img src="{% static 'img/mail_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;{{user.email}}</p>
          <p><a href="{% url 'logout' %}">Logout</a> </p>
          <!-- <p><a href="http://127.0.0.1:8081/real_chat/">Chat</a></p> -->
          
            <!-- {% if messages %}
            {% for m in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{m}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
            {% endif %} -->
        </div>
        <div class="col-md-3" id="profadvanced">
          <p><img src="{% static 'img/phone_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;{{user.userprofile.phone}}</p>
          <p id="pidi"><img src="{% static 'img/location_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;{{user.userprofile.address}}</p>
        </div>
        <div class="col-md-1" style="top: 20px;">
            <a href="{% url 'profileupdate' %}"><img src="{% static 'img/edit1.png' %}" height="20px" width="15px"></a>  
        </div>
        
      </div>
    </div>

    <div id="profbody">
      <h3 id="aboutheading"><span style="color: #ffffff;">My</span> Properties</h3><br />
      {% if listing_details %}
     {% for l in listing_details %}
      <div class="row">
      <div class="col-md-6">
        <div class="cardfeatured" style="width: 50rem; height: 12rem;">
          <div class="row">
            <div class="col-md-4"><a href="{% url 'listing' l.id %}"><img src="{{l.photo_main.url}}" height="120px" width="190px" loading="lazy"></a></div>
            <div class="col-md-6">
                <strong style="color: #2fb56e">₹ {{l.price | intcomma}}</strong>
                <p>TYPE & LOCATION: {{l.property_type}}/{{l.location}}
                <br />PLOT AREA: {{l.built_up_area}}&nbsp;{{l.unit}}
                <br />BEDROOMS: {{l.bedrooms}}
                <br />POSTED: {{l.posting_date}}</p>
              </div>
            <div class="col-md-2">
              <a href="{% url 'editlisting' l.id %}"><img src="{% static 'img/edit1.png' %}" height="15px" width="15px"></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{% url 'deletelisting' l.id %}"><img src="{% static 'img/delete-button.png' %}" height="15px" width="15px"></a>
            </div>
          </div>
      </div>
    </div>

    </div>
    {% endfor %}
    {% endif %}
    </div>

    </div>
  </div>

<div class="LHS">
  <div class="Heading"><h2>Welcome to realbuy</h2></div>
  <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
  <div class="search">
    <div class="col-md-10">
      <div class="col-md-10">
        <form action="{% url 'searchdetails' %}" method="POST">
          {% csrf_token %}
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" value="ONSALE" checked> SALE
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off" value="ONRENT"> RENT
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off" value="ready"> READY TO MOVE
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option4" autocomplete="off" value="construction"> UNDER CONSTRUCTION
            </label>
          </div>
          <div class="input-group mb-3">
              <input type="text" class="form-control" name="keywords" placeholder="Type Location/Keyword/City" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white; color: black;">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
              </div>
          </form>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.min.js" integrity="sha512-eviLb3jW7+OaVLz5N3B5F0hpluwkLb8wTXHOTy0CyNaZM5IlShxX1nEbODak/C0k9UdsrWjqIBKOFY0ELCCArw==" crossorigin="anonymous"></script>
{% endblock %}

