{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="About" id="abt">
    <div class="profile">
      <div id="profheader">
      <div class="row">
        <div class="col-md-4">
          <img src="static/img/avatar.jpeg" id="profpic">
        </div>
        <div class="col-md-4" id="profbasic">
          <p><img src="{% static 'img/profileaccount_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;Avin</p>
          <p><img src="{% static 'img/mail_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;avin@gmail.com</p>
        </div>
        <div class="col-md-3" id="profadvanced">
          <p><img src="{% static 'img/phone_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;+91 9895852773</p>
          <p id="pidi"><img src="{% static 'img/location_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;Chirapparambil House Anickadu. P. O Pallickathodu, Kottayam</p>
        </div>
        <div class="col-md-1" style="top: 20px;">
              <img src="{% static 'img/edit1.png' %}" height="20px" width="15px">
        </div>
      </div>
    </div>

    <div id="profbody">
      <h3 id="aboutheading"><span style="color: #ffffff;">My</span> Properties</h3><br />
      <div class="row">
      <div class="col-md-6">
        <div class="cardfeatured" style="width: 50rem; height: 12rem;">
          <div class="row">
            <div class="col-md-4"><img src="{% static 'img/Bitmap.png' %}" height="120px" width="190px"></div>
            <div class="col-md-6">
              <strong style="color: #2fb56e">₹ 28,235/Month</strong>
              <p>TYPE & LOCATION: Residential/Kakkanad
              <br />PLOT AREA: 80 Cents
              <br />SOCIETY: Green Casa
              <br />POSTED: May 20, 2016</p>
            </div>
            <div class="col-md-2">
              <img src="{% static 'img/edit1.png' %}" height="15px" width="15px">&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="{% static 'img/delete-button.png' %}" height="15px" width="15px">
            </div>
          </div>
      </div>
    </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="cardfeatured" style="width: 50rem; height: 12rem;">
          <div class="row">
            <div class="col-md-4"><img src="{% static 'img/Bitmap.png' %}" height="120px" width="190px"></div>
            <div class="col-md-6">
              <strong style="color: #2fb56e">₹ 28,235/Month</strong>
              <p>TYPE & LOCATION: Residential/Kakkanad
              <br />PLOT AREA: 80 Cents
              <br />SOCIETY: Green Casa
              <br />POSTED: May 20, 2016</p>
            </div>
            <div class="col-md-2">
              <img src="{% static 'img/edit1.png' %}" height="20px" width="15px">&nbsp;&nbsp;&nbsp;&nbsp;
              <img src="{% static 'img/delete-button.png' %}" height="20px" width="15px">
            </div>
          </div>
      </div>
    </div>
    
    </div>
    </div>

    </div>
  </div>

<div class="LHS">
  <div class="Heading"><h2>Welcome to realbuy</h2></div>
  <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
  <div class="search">
    <div class="col-md-10">
    <form>
    <div class="input-group mb-3">
        
        <input type="text" class="form-control" placeholder="Type Location/Keyword" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white;">
        <div class="input-group-append">
          <button class="btn btn-success" type="button">Search</button>
        </div>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
