{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="About" id="abt">
    <div class="profile">
      <div id="profheader">
      <div class="row">
        <div class="col-md-5" style="top: 40px;">
          Welcome our User<br />
          <span><h3>{{user.first_name}}{{user.last_name}}&nbsp;&nbsp;&nbsp;<img src="{% static 'img/like.png' %}" width="20px" height="20px"></h3></span>
        </div>
        <div class="col-md-6" id="profbasic">
          <p><img src="{% static 'img/profileaccount_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;{{user.first_name}}</p>
          <p><img src="{% static 'img/mail_icon.png' %}" width="15px" height="15px">&nbsp;&nbsp;&nbsp;&nbsp;{{user.email}}</p>
          <p><a href="{% url 'logout' %}">Logout</a> </p>
        </div>
        <div class="col-md-1" style="top: 20px;">
              <img src="{% static 'img/edit1.png' %}" height="20px" width="15px">
        </div>
      </div>
    </div>
    
    <div id="profbody">
      <h3 id="aboutheading"><span style="color: #ffffff;">Shortlisted</span> Properties</h3><br />
    </div>

    </div>
  </div>

<div class="LHS">
  <div class="Heading"><h2>Welcome to realbuy</h2></div>
  <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
  <div class="search">
    <div class="col-md-10">
        <form action="{% url 'searchdetails' %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="keywords" placeholder="Type Location/Keyword/City" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white;">
        <div class="input-group-append">
          <button class="btn btn-success" type="submit">Search</button>
        </div>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

