{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Add Listing</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style type="text/css">
  
</style>
</head>
<body>
    <div class="grid-container" id="contentmain">
        <div class="About" id="abt">
          <div class="contact">
            <h3 id="aboutheading"><span style="color: #ffffff;">Add </span>Property</h3><br />
            <form 
            enctype="multipart/form-data"
            id="id_ajax_upload_form" method="POST"
            novalidate="">
              {% csrf_token %}
              <div>
                <label for="id_action_type">Action type:</label> 
                <select name="action_type" required="" id="id_action_type">
                  
                  <option value="ONSALE" selected>SELL</option>
                
                  <option value="ONRENT">RENT</option>
              
                </select>
              </div>

              <div>
                <label for="id_title">Title:</label> 
                <input type="text" name="title" maxlength="200" required="" id="id_title">
                <span id="nameerror" class="text-danger font-weight-bold"></span>
              </div>

              <div>
                <label for="id_property_type">Property type:</label> 
                <select name="property_type" required="" id="id_property_type">
                  <option value="COMMERCIAL" selected>COMMERCIAL</option>
                  <option value="FURNISHED HOME">FURNISHED HOME</option>
                  <option value="LAND AND PLOT">LAND &amp; PLOT</option>
                  <option value="RENTAL">RENTAL</option>
                </select>
              </div>

              <div>
                <label for="id_photo_main">Photo main:</label> 
                <input type="file" name="photo_main" accept="image/*" required="" id="id_photo_main">
              </div>

              <div>
                <label for="id_city">City:</label> 
                <input type="text" name="city" maxlength="100" required="" id="id_city">
              </div>

              <div>
                <label for="id_location">Location:</label> 
                <input type="text" name="location" maxlength="200" required="" id="id_location">
              </div>

              <div>
                <label for="id_address">Address:</label> 
                <input type="text" name="address" maxlength="200" required="" id="id_address">
              </div>

              <div>
                <label for="id_price">Price:</label> 
                <input type="number" name="price" step="any" required="" id="id_price">
              </div>

              <div>
                <label for="id_bedrooms">Bedrooms:</label>
                <select name="bedrooms" required="" id="id_bedrooms">
            
                  <option value="1" selected>1</option>
                
                  <option value="2">2</option>
                
                  <option value="3">3</option>
                
                  <option value="4">4</option>
                
                  <option value="5">5</option>
                
                  <option value="6">6</option>
                
                  <option value="7">7</option>
              
                </select>
              </div>

              <div>
                <label for="id_bathrooms">Bathrooms:</label> 
                <select name="bathrooms" required="" id="id_bathrooms">

                  <option value="1" selected>1</option>
                
                  <option value="2">2</option>
                
                  <option value="3">3</option>
                
                  <option value="4">4</option>
                
                  <option value="5">5</option>
                
                  <option value="6">6</option>
                
                  <option value="7">7</option>
              
              </select>
            </div>

              <div>
                <label for="id_built_up_area">Built up area:</label> 
                <input type="number" name="built_up_area" step="any" required="" id="id_built_up_area">
              </div>

              <div>
                <label for="id_carpet_area">Carpet area:</label> 
                <input type="number" name="carpet_area" step="any" required="" id="id_carpet_area">
              </div>

              <div>
                <label for="id_unit">Unit:</label> 
                <select name="unit" required="" id="id_unit">
                
                  <option value="yards" selected>yards</option>
                
                  <option value="cents">cents</option>
                
                  <option value="acres">acres</option>
              
                </select>
              </div>

              <div>
                <label for="id_transaction_type">Transaction type:</label> 
                <select name="transaction_type" required="" id="id_transaction_type">
                
                  <option value="Resale" selected>Resale</option>
                
                  <option value="new">New Booking</option>
              
                </select>
              </div>

              <div>
                <label for="id_property_floor">Property floor:</label> 
                <select name="property_floor" required="" id="id_property_floor">
          
                  <option value="1" selected>1</option>
                
                  <option value="2">2</option>
                
                  <option value="3">3</option>
                
                  <option value="4">4</option>
                
                  <option value="5">5</option>
                
                  <option value="6">6</option>
                
                  <option value="7">7</option>
              
                </select>
              </div>

              <div>
                <label for="id_ownership">Ownership:</label> 
                <select name="ownership" required="" id="id_ownership">
                  
                  <option value="Individual" selected>Individual</option>
                
                  <option value="Joint">Joint</option>
              
                </select>
              </div>

              <div>
                <label for="id_total_floors">Total floors:</label> 
                <select name="total_floors" required="" id="id_total_floors">

                  <option value="1" selected>1</option>
                
                  <option value="2">2</option>
                
                  <option value="3">3</option>
                
                  <option value="4">4</option>
                
                  <option value="5">5</option>
                
                  <option value="6">6</option>
                
                  <option value="7">7</option>
              
                </select>
              </div>

              <div>
                <label for="id_availability">Availability:</label> 
                <select name="availability" required="" id="id_availability">

                  <option value="ready" selected>Ready to move</option>
                  <option value="construction">Under construction</option>
              
                </select>
              </div>
              <div><label for="id_description">Description:</label> 
                <textarea name="description" cols="40" rows="10" id="id_description">

                </textarea>
              </div>
              <input type="submit" />
          </form>
          </div>
        </div>
        <div class="navbar">
          <nav class="navbar navbar-expand-lg navbar-dark bg-transparent sticky-top" id="navbar-example2">
              <div class="container">
              <a class="navbar-brand" href="index.html">
                  <img src="assets/img/logo.png" class="logo" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <ul class="navbar-nav">
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}">HOME</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}">ABOUT&nbsp;US</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}#featuredprops">FEATURED&nbsp;PROPERTIES</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}#recentprops">
                      RECENT&nbsp;PROPERTIES</a>
                  </li>
                  <li
                    {% if 'addlisting' in request.path %}
                      class="nav-item active mr-3" style="background-color: #2fb56e; text-decoration: none;"
                    {% else %}
                      class="nav-item mr-3"
                    {% endif %}
                    >
                      <a class="nav-link" href="{% url 'addlisting' %}">
                      ADD&nbsp;PROPERTY</a>
                  </li>
                  <li
                    {% if 'contactus' in request.path %}
                      class="nav-item active mr-3" style="background-color: #2fb56e; text-decoration: none;"
                    {% else %}
                      class="nav-item mr-3"
                    {% endif %}
                    >
                      <a class="nav-link" href="{% url 'contactus' %}">CONTACT&nbsp;US</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  </ul>
              </div>
              </div>
          </nav>
        </div>
        <div class="Logo"><img src="{% static 'img/Logo.png' %}" height="76px" width="200px"></div>
        <div class="LHS">
          <div class="Heading"><h2>Welcome to realbuy</h2></div>
          <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
          <div class="search">
            <div class="col-md-10">
              <div class="col-md-10">
                <form action="{% url 'searchdetails' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="keywords" placeholder="Type Location/Keyword/City" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white;">
                <div class="input-group-append">
                  <button class="btn btn-success" type="submit">Search</button>
                </div>
                </div>
            </form>
            </div>
          </div>
        </div>
        </div>
        <div class="Footer">
          <Footer>
            <img src="{% static 'img/fb.png' %}" height="25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{% static 'img/twitter.png' %}" height="25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{% static 'img/g+.png' %}" height="25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2016. realbuy.com. All rights reserved.
        </Footer>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script 
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       <script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
</body>
</html>