{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="About" id="abt">
    <div class="contact">
      <h1>Page is under construction !!!</h1>
    </div>
  </div>

<div class="LHS">
  <div class="Heading"><h2>Welcome to realbuy</h2></div>
  <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
  <div class="search">
    <div class="col-md-10">
    <form action="{% url 'searchdetails' %}" method="POST">
    <div class="input-group mb-3">
        
        <input type="text" class="form-control" placeholder="Type Location/Keyword" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white;">
        <div class="input-group-append">
          <button class="btn btn-success" type="button">Search</button>
        </div>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}
