{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Add Listing</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style type="text/css">
  
</style>
</head>
<body>
    <div class="grid-container" id="contentmain">
        <div class="About" id="abt">
          <div class="contact" id="Div1">
            <h3 id="aboutheading" style="text-align: center;"><span style="color: #ffffff;">ADD </span>PROPERTY</h3><br />
            <nav class="addproperty-nav">
              <ul>
                  <li><a href="" id="basic" style="color: #2ca665; background-color: #000000;">Basic information</a></li>
                  <li><input type="button" value="Property details" name="propertysubmit" id="next1"></li>
              </ul>
          </nav>
            <form 
            enctype="multipart/form-data"
            id="id_ajax_upload_form" method="POST"
            novalidate="">
              {% csrf_token %}
              <div style="padding: 20px 20px;">
                <div class="blockbackground">I want to</div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="action_type" value="ONSALE" checked style="margin-left: 25px; margin-top: 10px;">SELL
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="action_type" value="ONRENT" style="margin-left: 50px;">RENT
                  </label>
                </div>
              </div>
                <!-- <label for="id_action_type">Action type:</label> 
                <select name="action_type" required="" id="id_action_type" style="background-color: #161616; color: #FFFFFF;">
                  
                  <option value="ONSALE" selected>SELL</option>
                
                  <option value="ONRENT">RENT</option>
              
                </select> -->
              

                <div style="padding: 20px 20px;">
                <div class="blockbackground">Property Title</div>
                <label for="id_title" style="margin-left: 25px;"></label> 
                <input type="text" placeholder="Title" name="title" maxlength="200" required="" id="id_title" minlength="8" style="margin-left: -6px; margin-top: 10px; height: 40px; width: 200px;" >
                <span id="nameerror" class="text-danger font-weight-bold"></span>
                </div>

              <div style="padding: 20px 20px;">
                <div class="blockbackground">Property Type</div>
                <label for="id_property_type"></label> 
                <select name="property_type" required="" id="id_property_type" style="background-color: #161616; color: #FFFFFF; margin-top: 10px; margin-left: 18px; width: 200px; height: 40px;">
                  <option value="COMMERCIAL" selected>COMMERCIAL</option>
                  <option value="FURNISHED HOME">FURNISHED HOME</option>
                  <option value="LAND AND PLOT">LAND &amp; PLOT</option>
                  <option value="RENTAL">RENTAL</option>
                </select>
              </div>

              <div style="padding: 20px 20px;">
                <div class="blockbackground">Add Your Property Photo</div> 
                <input type="file" name="photo_main" accept="image/*" required="" id="id_photo_main" style="margin-left: 20px; margin-top: 10px;">
              </div>

              <div style="padding: 20px 20px;">
              <div class="blockbackground">Add Your Property Address</div>
              <div class="row">
                <div class="col-md-6">
                  <label for="id_city"></label> 
                  <input type="text" name="city" placeholder="Enter City" maxlength="100" required="" id="id_city" style="margin-left: 18px; margin-top: 10px; height: 40px; width: 200px;">
                </div>
                <div class="col-md-6">
                  <label for="id_address"></label> 
                  <input type="text" name="address" placeholder="Enter Address" maxlength="200" required="" id="id_address" style="margin-top: 10px; height: 40px; width: 200px;">
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
                <label for="id_location"></label> 
                <input type="text" name="location" placeholder="Enter Location"  maxlength="200" required="" id="id_location" style="margin-left: 18px; margin-top: 10px; height: 40px; width: 200px;">
              </div>
            </div>
                            
            </div>
            <div class="next" ><input type="button" value="Next" name="basicsubmit" id="next"></div>
          </div>

          <div class="contact" id="Div2">
            <h3 id="aboutheading" style="text-align: center;"><span style="color: #ffffff;">ADD </span>PROPERTY</h3><br />
            <nav class="addproperty-nav">
              <ul>
                  <li><a href="" id="basic1">Basic information</a></li>
                  <li><input type="button" value="Property details" name="propertysubmit" id="property1"></li>
              </ul>
          </nav>
            <div style="padding: 20px 20px;">
              <div class="row">
                <div class="col-md-6">
                  <label for="id_price"></label> 
                  <input type="number" placeholder="Price" name="price" step="any" required="" id="id_price" style="background-color: #161616; color: #FFFFFF; margin-top: 10px; margin-left: 18px; width: 200px; height: 40px;">
                </div>
                <div class="col-md-6">
                  <label for="id_bedrooms"></label>
                  <select name="bedrooms" required="" id="id_bedrooms" style="background-color: #161616; color: #7b7b7b; margin-top: 10px; width: 200px; height: 40px;">
                    <option value="" selected style="color: #FFFFFF;">Bedrooms</option>
                    <option value="1">1</option>
                  
                    <option value="2">2</option>
                  
                    <option value="3">3</option>
                  
                    <option value="4">4</option>
                  
                    <option value="5">5</option>
                  
                    <option value="6">6</option>
                  
                    <option value="7">7</option>
                
                  </select>
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
                <label for="id_bathrooms"></label> 
                <select name="bathrooms" required="" id="id_bathrooms" style="background-color: #161616; color: #7b7b7b; margin-top: 10px; margin-left: 18px; width: 200px; height: 40px;">
                  <option value="" selected style="color: #7b7b7b;">Bathrooms</option>
                  <option value="1">1</option>
                
                  <option value="2">2</option>
                
                  <option value="3">3</option>
                
                  <option value="4">4</option>
                
                  <option value="5">5</option>
                
                  <option value="6">6</option>
                
                  <option value="7">7</option>
              
              </select>
            </div>
          </div>
          </div>
              <div style="padding: 20px 20px;">
                <div class="row">
              <div class="col-md-6">
                <label for="id_built_up_area"></label> 
                <input type="number" name="built_up_area" placeholder="Built up Area" step="any" required="" id="id_built_up_area" style="background-color: #161616; color: #FFFFFF; margin-top: 10px; margin-left: 18px; width: 200px; height: 40px;">
              </div>
              <div class="col-md-6">
                <label for="id_unit"></label> 
                <select name="unit" required="" id="id_unit" style="background-color: #161616; color: #7b7b7b; margin-top: 10px; width: 200px; height: 40px;">
                  
                  <option value="" selected>Unit</option>
                  <option value="yards" selected>yards</option>
                
                  <option value="cents">cents</option>
                
                  <option value="acres">acres</option>
              
                </select>
              </div>
              
            </div>
            <div class="row">
            <div class="col-md-6">
              <label for="id_carpet_area"></label> 
              <input type="number" name="carpet_area"  placeholder="Carpet area" step="any" required="" id="id_carpet_area" style="background-color: #161616; color: #FFFFFF; margin-top: 10px; margin-left: 18px; width: 200px; height: 40px;">
            </div>
          </div>
            </div>
              <!-- <div>
                <label for="id_transaction_type">Transaction type:</label> 
                <select name="transaction_type" required="" id="id_transaction_type" style="background-color: #161616; color: #FFFFFF;">
                
                  <option value="Resale" selected>Resale</option>
                
                  <option value="new">New Booking</option>
              
                </select>
              </div> -->
              <div style="padding: 20px 20px;">
                <div class="blockbackground">Transaction Type</div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="transaction_type" value="Resale" checked  style="margin-left: 25px; margin-top: 10px;">Resale
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="transaction_type" value="new"  style="margin-left: 50px; margin-top: 10px;">New Booking
                  </label>
                </div>
              

              <div class="row">
              <div class="col-md-6">
                <label for="id_property_floor"></label> 
                <select name="property_floor" required="" id="id_property_floor" style="background-color: #161616; color: #7b7b7b; margin-top: 10px; margin-left: 18px; width: 200px; height: 40px;">
                  
                  <option value="" selected>Property Floors</option>
                  <option value="1">1</option>
                
                  <option value="2">2</option>
                
                  <option value="3">3</option>
                
                  <option value="4">4</option>
                
                  <option value="5">5</option>
                
                  <option value="6">6</option>
                
                  <option value="7">7</option>
              
                </select>
              </div>

              <div class="col-md-6">
                <label for="id_ownership"></label> 
                <select name="ownership" required="" id="id_ownership" style="background-color: #161616; color: #7b7b7b; margin-top: 10px; width: 200px; height: 40px;">
                  
                  <option value="" selected>Ownership</option>
                  <option value="Individual" selected>Individual</option>
                
                  <option value="Joint">Joint</option>
              
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="id_total_floors"></label> 
                <select name="total_floors" required="" id="id_total_floors" style="background-color: #161616; color: #7b7b7b; margin-top: 10px; margin-left: 18px; width: 200px; height: 40px;">

                  <option value="" selected>Total floors</option>

                  <option value="1">1</option>
                
                  <option value="2">2</option>
                
                  <option value="3">3</option>
                
                  <option value="4">4</option>
                
                  <option value="5">5</option>
                
                  <option value="6">6</option>
                
                  <option value="7">7</option>
              
                </select>
              </div>
            </div>
          </div>
          <div style="padding: 20px 20px;">
            <div class="blockbackground">Availability</div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="availability" value="ready" checked style="margin-left: 25px; margin-top: 10px;">Ready to move
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="availability" value="construction" style="margin-left: 50px; margin-top: 10px;">Under construction
                  </label>
                </div>
              </div>
              <!-- <div>
                <label for="id_availability">Availability:</label> 
                <select name="availability" required="" id="id_availability" style="background-color: #161616; color: #FFFFFF;">

                  <option value="ready" selected>Ready to move</option>
                  <option value="construction">Under construction</option>
              
                </select>
              </div> -->
              <div style="padding: 20px 20px;">
                <label for="id_description"></label> 
                <textarea name="description" cols="40" rows="5" id="id_description" style="color: #7b7b7b; margin-top: 10px; margin-left: 20px;">
                  
                </textarea>
              </div>
              <div style="padding: 20px 20px;">
              <button class="btn btn-success" type="submit" style="margin-left: 20px; border-radius: 0px;">POST AD</button><br /><br />
              </div>
          </form>
          </div>
        </div>
        <div class="navbar">
          <nav class="navbar navbar-expand-lg navbar-dark bg-transparent sticky-top" id="navbar-example2">
              <div class="container">
              <a class="navbar-brand" href="index.html">
                  <img src="assets/img/logo.png" class="logo" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <ul class="navbar-nav">
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}">HOME</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}">ABOUT&nbsp;US</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}#featuredprops">FEATURED&nbsp;PROPERTIES</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'index' %}#recentprops">
                      RECENT&nbsp;PROPERTIES</a>
                  </li>
                  <li
                    {% if 'addlisting' in request.path %}
                      class="nav-item active mr-3" style="background-color: #2fb56e; text-decoration: none;"
                    {% else %}
                      class="nav-item mr-3"
                    {% endif %}
                    >
                      <a class="nav-link" href="{% url 'addlisting' %}">
                      ADD&nbsp;PROPERTY</a>
                  </li>
                  <li
                    {% if 'contactus' in request.path %}
                      class="nav-item active mr-3" style="background-color: #2fb56e; text-decoration: none;"
                    {% else %}
                      class="nav-item mr-3"
                    {% endif %}
                    >
                      <a class="nav-link" href="{% url 'contactus' %}">CONTACT&nbsp;US</a>
                  </li>
                  <li class="nav-item mr-3">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  </ul>
              </div>
              </div>
          </nav>
        </div>
        <div class="Logo"><img src="{% static 'img/Logo.png' %}" height="76px" width="200px"></div>
        <div class="LHS">
          <div class="Heading"><h2>Welcome to realbuy</h2></div>
          <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
          <div class="search">
            <div class="col-md-10">
              <div class="col-md-10">
                <form action="{% url 'searchdetails' %}" method="POST">
                  {% csrf_token %}
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" value="ONSALE" checked> SALE
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off" value="ONRENT"> RENT
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option3" autocomplete="off" value="ready"> READY TO MOVE
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option4" autocomplete="off" value="construction"> UNDER CONSTRUCTION
                    </label>
                  </div>
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" name="keywords" placeholder="Type Location/Keyword/City" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white; color: black;">
                      <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Search</button>
                      </div>
                      </div>
                      
                  </form>
            </div>
          </div>
        </div>
        </div>
        <div class="Footer">
          <Footer>
            <img src="{% static 'img/fb.png' %}" height="25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{% static 'img/twitter.png' %}" height="25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{% static 'img/g+.png' %}" height="25px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2016. realbuy.com. All rights reserved.
        </Footer>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script 
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       <script type="text/javascript">

		var first_link = document.getElementById("basic");
		var second_link = document.getElementById("property");
		var next = document.getElementById("next");
		// var next1 = document.getelementById("next1");
		// var next1 = document.getElementById("adsubmit");
		var first_link1 = document.getElementById("basic1");
		var second_link1 = document.getElementById("property1");

		var first_link_property = document.getElementById("Div1");
		var second_link_property = document.getElementById("Div2");

		next.onclick = function() {
		    second_link_property.style.display = "block";
		    first_link_property.style.display = "none";

		}
		next1.onclick = function() {
		    second_link_property.style.display = "block";
		    first_link_property.style.display = "none";

		}

		first_link.onclick = function() {
		    first_link_property.style.display = "block";
		    second_link_property.style.display = "none";

		}
		first_link1.onclick = function() {
		    first_link_property.style.display = "block";
		    second_link_property.style.display = "none";

		}

		// second_link.onclick = function() {
		//     second_link_property.style.display = "block";
		//     first_link_property.style.display = "none";
		// }
		second_link1.onclick = function() {
		    second_link_property.style.display = "block";
		    first_link_property.style.display = "none";
}

    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function(response) {
                $('.error').remove();
                console.log(response);
                if(response.error){
                    $.each(response.errors, function(name, error){
                        alert(name + " field is required");
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
   </script>
</body>
</html>