{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="About" id="abt">
  {% if messages %}
      {% for message in messages %}
        {% if "error" in message.tags %}
         <div id="mgalert" class="container">
            <div class="alert alert-danger alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                {{message}}
            </div>
          </div>
        {% else %}
        <div id="msgalert" class="container">
          <div class="alert alert-success alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
              {{message}}
          </div>
        </div>
        {% endif %}
      {% endfor %}
  {% endif %}
  <div class="singlelisting">
    <div class="row">
      {% if listing %}
      {% for item in listing %}

      <div class="col-md-8">
        <img src="{{item.photo_main.url}}" width="150%" height="280px">
      </div>
      <div class="col-md-4">
        <div class="row" style="height: 70px; width: 106%; background-color: #000000" >
          <div class="col-md-2">
          <img src="{% static 'img/Location_carousel.png' %}" height="25px" width="25px" style="margin-top: 20px; margin-left: 10px;">
          </div>
          <div class="col-md-8" style="margin-top: 10px;">
            <small style="margin-left: 10px;">{{item.title}}</small><br /><span style="margin-left: 10px; margin-top: 10px;">{{item.price}}</span>
          </div>
        </div>
        <div class="row" style="height: 70px; width: 106%; background-color: #101010" >
          <div class="col-md-2">
          <img src="{% static 'img/Area.png' %}" height="25px" width="25px" style="margin-top: 20px; margin-left: 10px;">
          </div>
          <div class="col-md-8" style="margin-top: 10px;">
            <small style="margin-left: 10px;">Area</small><br /><span style="margin-left: 10px; margin-top: 10px;">{{item.built_up_area}}{{item.unit}}</span>
          </div>
        </div>
        <div class="row" style="height: 70px; width: 106%; background-color: #000000" >
          <div class="col-md-2">
          <img src="{% static 'img/Bed.png' %}" height="25px" width="25px" style="margin-top: 20px; margin-left: 10px;">
          </div>
          <div class="col-md-8" style="margin-top: 10px;">
            <small style="margin-left: 10px;">Bedrooms</small><br /><span style="margin-left: 10px; margin-top: 10px;">{{item.bedrooms}}</span>
          </div>
        </div>
        <div class="row" style="height: 70px; width: 106%; background-color: #101010" >
          <div class="col-md-2">
          <img src="{% static 'img/bathroom.png' %}" height="25px" width="25px" style="margin-top: 20px; margin-left: 10px;">
          </div>
          <div class="col-md-8" style="margin-top: 10px;">
            <small style="margin-left: 10px;">Bathrooms</small><br /><span style="margin-left: 10px; margin-top: 10px;">{{item.bathrooms}}</span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container">
    <div class="row" style="max-width: 100%; padding-right: 20px; padding-left: 20px; padding-top: 30px; font-size: 14px;">
      <p>{{item.description}}</p><br/></div>
    <div class="row" style="padding-right: 20px; padding-left: 20px; padding-top: 30px; font-size: 14px;">
      <p style="font-size: 18px;"><span style="color: #2fb56e;">Seller info</span><br />{{item.user.first_name}}&nbsp;{{item.user.last_name}}<br />{{item.user.userprofile.address}}</p>
    </div>
    </div>

    <div class="container" style="height: 40px; width: 95%; background-color: #232323; padding-left:10px; padding-right: 10px;">
    <div class="row" >
      <div class="col-md-2" style="top: 7px; left: 10px;"><a data-toggle="modal" data-target="#emailModal"><img src="{% static 'img/Mail_white.png' %}" alt="" height="18px" width="18px"><small>SEND&nbsp;MAIL</small></a></div>
          <div class="col-2" style="top: 7px"><a data-toggle="modal" data-target="#phoneModal"><img src="{% static 'img/Call_white.png' %}" alt="" height="18px" width="18px"><small>&nbsp;&nbsp;PHONE</small></a></div>
          <div class="col-md-2" style="top: 7px"><a data-toggle="modal" data-target="#inquiryModal"><img src="{% static 'img/Fav_white.png' %}" alt="" height="18px" width="18px"><small>&nbsp;&nbsp;SHORTLIST</small></a></div>
          <div class="col-md-2" style="top: 7px"><a href="{% url 'mapshow' item.id %}" style="color: white; text-decoration: none;"><img src="{% static 'img/Map_white.png' %}" alt="" height="18px" width="18px">&nbsp;&nbsp;<small>MAP</small></a></div>
          <div class="col-md-2" style="top: 7px"><a data-toggle="modal" data-target="#shareModal"><img src="{% static 'img/sharing_white.png' %}" alt="" height="18px" width="18px">&nbsp;&nbsp;<small>SHARE</small></a></div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  </div> 
</div>

<div class="LHS">
  <div class="Heading"><h2>Welcome to realbuy</h2></div>
  <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
  <div class="search">
    <div class="col-md-10">
      <div class="col-md-10">
        <form action="{% url 'searchdetails' %}" method="POST">
          {% csrf_token %}
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" id="option1" autocomplete="off" value="ONSALE" checked> SALE
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option2" autocomplete="off" value="ONRENT"> RENT
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option3" autocomplete="off" value="ready"> READY TO MOVE
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" id="option4" autocomplete="off" value="construction"> UNDER CONSTRUCTION
            </label>
          </div>
          <div class="input-group mb-3">
              <input type="text" class="form-control" name="keywords" placeholder="Type Location/Keyword/City" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white; color: black;">
              <div class="input-group-append">
                <button class="btn btn-success" type="submit">Search</button>
              </div>
              </div>
          </form>
    </div>
  </div>
</div>
</div>

{% if listing %}
{% for item in listing %}
<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #000000; color: #ffffff;">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'shortlist' %}" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
          {% else %}
          <input type="hidden" name="user_id" value="0">
          {% endif %}
          <input type="hidden" name="realtor_email" value="{{item.user.email}}">
          <input type="hidden" name="client_email" value="{{user.email}}">
          <input type="hidden" name="client_phone" value="{{user.userprofile.phone}}">
          <input type="hidden" name="listing_id" value="{{item.id}}">

          <div class="form-group">
            <label for="property_name" class="col-form-label">Property:</label>
            <input type="text" name="listing" class="form-control" value="{{ item.title }}">
          </div>
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{user.first_name}} {{user.last_name}}" {% endif %} required>
          </div>
          <div class="form-group">
            <label for="slot" class="col-form-label">Wanna Visit Tomorrow?</label>
            <select name="slot" required="" id="id_slot" style="background-color: #161616; color: #FFFFFF;">     
              <option value="FORENOON" selected>FORENOON</option>      
              <option value="AFTERNOON">AFTERNOON</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control" style="background-color: #161616; color: white;"></textarea>
          </div>
          <hr>
          <input type="submit" value="Send" class="btn btn-block btn-success">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="phoneModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #000000; color: #ffffff;">
      <div class="modal-header" style="background-color: #161616; color: #ffffff;">
        <h5 class="modal-title" id="inquiryModalLabel">Contact Details</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 style="color: #2fb56e;">Call the realtor</h5><h5>: {{item.user.userprofile.phone}}</h5>
        <h5 style="color: #2fb56e;">Whatapp the realtor : </h5><a href="https://wa.me/{{item.user.userprofile.phone}}">https://wa.me/{{item.user.userprofile.phone}}</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="emailModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #000000; color: #ffffff;">
      <div class="modal-header" style="background-color: #161616; color: #ffffff;">
        <h5 class="modal-title" id="inquiryModalLabel">Email</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 style="color: #2fb56e;">Mail the realtor :</h5> <h5>{{item.user.email}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shareModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #000000; color: #ffffff;">
      <div class="modal-header" style="background-color: #161616; color: #ffffff;">
        <h5 class="modal-title" id="inquiryModalLabel">Share</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" value="https://realbuy-demo.herokuapp.com/listings/{{item.id}}" size="50" />
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

