{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<title>Real Buy</title>
</head>
<body style="background-color: black;">
    <div id="featuredproops">
        <h3 id="aboutheading"><span style="color: #ffffff;">All </span>Properties</h3>
        <!-- Cards -->
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="{% static 'img/Bitmap1.png' %}" alt="Card image cap" width="100px" height="100px">
                    <div class="card-body">
                      <p class="card-text">
                      <small>Puravankara</small><br />
                      <strong style="color: #2fb56e;">Rs 28,235</strong><br/>
                      <img src="{% static 'img/Bed_small.svg' %}">&nbsp;&nbsp;&nbsp;Bed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2<br />
                      <img src="{% static 'img/bath_small.svg' %}">&nbsp;&nbsp;&nbsp;Bathroom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<br />
                      <img src="{% static 'img/map_small.svg' %}">&nbsp;&nbsp;&nbsp;Marinedrive, Kochi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/favorites.svg">
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="{% static 'img/Bitmap2.png' %}" alt="Card image cap" width="100px" height="100px">
                    <div class="card-body">
                      <p class="card-text">
                      <small>Puravankara</small><br />
                      <strong style="color: #2fb56e;">Rs 28,235</strong><br/>
                      <img src="{% static 'img/Bed_small.svg' %}">&nbsp;&nbsp;&nbsp;Bed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2<br />
                      <img src="{% static 'img/bath_small.svg' %}">&nbsp;&nbsp;&nbsp;Bathroom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<br />
                      <img src="{% static 'img/map_small.svg' %}">&nbsp;&nbsp;&nbsp;Marinedrive, Kochi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/favorites.svg">
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="{% static 'img/Bitmap3.png' %}" alt="Card image cap" width="100px" height="100px">
                    <div class="card-body">
                      <p class="card-text">
                      <small>Puravankara</small><br />
                      <strong style="color: #2fb56e;">Rs 28,235</strong><br/>
                      <img src="{% static 'img/Bed_small.svg' %}">&nbsp;&nbsp;&nbsp;Bed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2<br />
                      <img src="{% static 'img/bath_small.svg' %}">&nbsp;&nbsp;&nbsp;Bathroom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<br />
                      <img src="{% static 'img/map_small.svg' %}">&nbsp;&nbsp;&nbsp;Marinedrive, Kochi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/favorites.svg">
                      </p>
                    </div>
                  </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="{% static 'img/Bitmap4.png' %}" alt="Card image cap" width="100px" height="100px">
                    <div class="card-body">
                      <p class="card-text">
                      <small>Puravankara</small><br />
                      <strong style="color: #2fb56e;">Rs 28,235</strong><br/>
                      <img src="{% static 'img/Bed_small.svg' %}">&nbsp;&nbsp;&nbsp;Bed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2<br />
                      <img src="{% static 'img/bath_small.svg' %}">&nbsp;&nbsp;&nbsp;Bathroom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<br />
                      <img src="{% static 'img/map_small.svg' %}">&nbsp;&nbsp;&nbsp;Marinedrive, Kochi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/favorites.svg">
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="{% static 'img/Bitmap5.png' %}" alt="Card image cap" width="100px" height="100px">
                    <div class="card-body">
                      <p class="card-text">
                      <small>Puravankara</small><br />
                      <strong style="color: #2fb56e;">Rs 28,235</strong><br/>
                      <img src="{% static 'img/Bed_small.svg' %}">&nbsp;&nbsp;&nbsp;Bed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2<br />
                      <img src="{% static 'img/bath_small.svg' %}">&nbsp;&nbsp;&nbsp;Bathroom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<br />
                      <img src="{% static 'img/map_small.svg' %}">&nbsp;&nbsp;&nbsp;Marinedrive, Kochi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/favorites.svg">
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 20rem; height: 20rem;">
                    <img class="card-img-top" src="{% static 'img/Bitmap6.png' %}" alt="Card image cap" width="100px" height="100px">
                    <div class="card-body">
                      <p class="card-text">
                      <small>Puravankara</small><br />
                      <strong style="color: #2fb56e;">Rs 28,235</strong><br/>
                      <img src="{% static 'img/Bed_small.svg' %}">&nbsp;&nbsp;&nbsp;Bed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2<br />
                      <img src="{% static 'img/bath_small.svg' %}">&nbsp;&nbsp;&nbsp;Bathroom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3<br />
                      <img src="{% static 'img/map_small.svg' %}">&nbsp;&nbsp;&nbsp;Marinedrive, Kochi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="static/img/favorites.svg">
                      </p>
                    </div>
                  </div>
            </div>
          </div>
          
        </div>
</body>
</html>