{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="About" id="abt">
    <div class="contact">
      <h3 id="aboutheading"><span style="color: #ffffff;">Contact </span>Us</h3><br />
      <p style="margin-left: 20px"><img src="{% static 'img/Location_Aboutus.svg' %}" height="18px" width="18px">&nbsp;&nbsp;&nbsp;Our Location</p>
      <div id="map" style="height: 200px; width: 100%;"></div>

      <div class="row">
        <div class="col">
          <p style="margin-left: 20px; font-size: 16px"><img src="{% static 'img/Address_Desktop.png' %}" height="18px" width="18px">&nbsp;&nbsp;&nbsp;Address </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p style="margin-left: 20px; font-size: 14px;">9A, 9th floor,<br /> Carnival Infopark,<br /> Kakkanad, Kochi - 682 030</p>
        </div>
        <div class="col-md-4">
          <p style="margin-left: 20px">Phone : 0484-2415010<br />Email : support@realbuy.com</p>
        </div>
        <div class="col-md-4">
          <p style="margin-left: 20px">Opening Hours: <br />Monday - Friday : 9 am To 6 pm <br />Saturday - Sunday : 9 am To 2 pm</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <p style="margin-left: 20px; font-size: 16px"><img src="{% static 'img/mail.png' %}" height="16px" width="16px">&nbsp;&nbsp;&nbsp;Contact our Agent</p>
        </div>
      </div>
      {% if messages %}
      {% for message in messages %}
        {% if "error" in message.tags %}
        {% if form.non_field_errors %}
        <div class="non-field-errors">
          {% for err in form.non_field_errors %}
            {% if "Form is Empty fill all fields" in err %}
            <div id="msgalert" class="container">
              <div class="alert alert-danger alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                 Form is empty...
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
        {% else %}
        <div id="msgalert" class="container">
          <div class="alert alert-success alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
              {{message}}
          </div>
        </div>
        {% endif %}
      {% endfor %}
      {% endif %}
      <form action="{% url 'contactus' %}" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <div class="col-sm-12">
                  {{form.name}}
                </div>
                
                  {% if form.non_field_errors %}
                  <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                      {% if "Name must be minimum 3 characters and maximum 100 characters" in err %}
                      <span id="nameerror" class="text-danger" style="margin-left: 20px;">Invalid name(Min 3 max 20)</span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
                
              </div>
            </div>
  
            <br />
  
            <div class="row">
              <div class="col-md-12">
                <div class="col-sm-12">
                  {{form.email}}
                </div>
                {% if form.non_field_errors %}
                  <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                      {% if "Invalid email address" in err %}
                      <span id="nameerror" class="text-danger" style="margin-left: 20px;">Invalid email address</span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
  
            <br />
  
            <div class="row">
              <div class="col-md-12">
                <div class="col-sm-12">
                  {{form.phone}}
                </div>
                {% if form.non_field_errors %}
                  <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                      {% if "Ten digits mandatory" in err %}
                      <span id="nameerror" class="text-danger" style="margin-left: 20px;">Enter valid phonenumber(10digit)</span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            {{form.message}}
          </div>
          {% if form.non_field_errors %}
                  <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                      {% if "In Description Enter minimum 4 characters and max 500 characters" in err %}
                      <span id="nameerror" class="text-danger" style="margin-left: 20px;">Enter minimum 3 letters</span>
                      {% endif %}
                    {% endfor %}
                  </div>
          {% endif %}
          <div class="col-md-4">
            <button type="submit" class="btn btn-success">SUBMIT</button>
          </div>
         
        </div>
        <!-- <div>
          {% if form.non_field_errors %}
            <div class="non-field-errors">
              {% for err in form.non_field_errors %}
                <p class="form-error">{{ err }}</p>
              {% endfor %}
            </div>
          {% endif %}
          </div> -->
      </form>
  
    </div>
  </div>
</form>
<div class="LHS">
  <div class="Heading"><h2>Welcome to realbuy</h2></div>
  <div class="Content"><p>Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</p></div>
  <div class="search">
    <div class="col-md-10">
      <form action="{% url 'searchdetails' %}" method="POST">
        {% csrf_token %}
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" value="ONSALE" checked> SALE
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off" value="ONRENT"> RENT
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off" value="ready"> READY TO MOVE
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option4" autocomplete="off" value="construction"> UNDER CONSTRUCTION
          </label>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="keywords" placeholder="Type Location/Keyword/City" aria-label="Recipient's username" aria-describedby="basic-addon2" style="background-color: white; color: black;">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Search</button>
            </div>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}

